@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@400;700&family=Dosis:wght@500&family=Fira+Sans+Condensed:ital,wght@0,300;1,200&family=Fredoka:wght@500&family=Koulen&family=Open+Sans:ital@1&family=Pacifico&family=Patrick+Hand&family=Rubik&family=Supermercado+One&display=swap');

body {
  font-family: 'Koulen', cursive;
  font-size: x-large;
  margin: 0rem;
  padding: 1rem;
  color: var(--primary-color);
  text-align: center;
}

:root {
  --primary-color: #701a75;
}

#check-btn {
  border: 2px solid var(--primary-color);
  color: black;
  border-radius: 0.5rem;
  font-size: large;
  margin-top: 2rem;
  padding: 0.4rem 1rem;
  cursor:pointer;
  display: block;
  margin: auto;
}


input {
  display:block;
  margin: auto;
  margin-bottom: 2rem;
  font-size: large;
  padding: 0.5rem;
  border-radius: 2px;
  border: 2px solid var(--primary-color);
  color: black;
}



