@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@400;700&family=Dosis:wght@500&family=Fira+Sans+Condensed:ital,wght@0,300;1,200&family=Fredoka:wght@500&family=Koulen&family=Open+Sans:ital@1&family=Pacifico&family=Patrick+Hand&family=Rubik&family=Supermercado+One&display=swap');

body {
  font-family: 'Koulen', cursive;
  margin: 0;
  padding: 1rem;
  background: var(--primary-color);
  color: white;
  text-align: center;
}

:root {
  --primary-color: #701a75;
}

#check-btn {
  background-color: var(--primary-color);
  border: 2px solid white;
  color: white;
  border-radius: 0.5rem;
  padding: 0.4rem 1rem;
  cursor:pointer;
  display: block;
  margin: auto;
}

input {
  display:block;
  margin: auto;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  background-color: var(--primary-color);
  border: 2px solid white;
  color: white;
}



